.bodyCl{
  height: 100%;
}

img{
  transition: 2s all;
    transform: scale(1);
}

img:hover{
  transform: scale(1.2);
}

header{
  background-color: #B3E1FF;
  width: 100%;
  padding: 2% 0;
}

.headerCl{
    height: 20%;
}

.row1{
  height: 10%;
  display: flex;
  margin: none;
}

.red{

}

.green{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content:center;
}

header .h1Head{
  font-size: 24px;
  color: #86A1B3;
}

.blue{

  display: flex;
  align-items: center;
  justify-content:center;
}

.select{
  padding: 0px 15px;
  background: #86A1B3;
  height: 40px;
  margin-right: -4px;
  border-radius: 40px 0px 0px 40px;
  width: 25%;
    border: 0px;
}

.inpForm{
  width: calc(100% - 260px);
  margin-right: -4px;
  height: 40px;
  padding: 0px 15px;
  border: 0px;
  background-color: #B37D7D;
  width: 50%;
}

.select{
  font-weight: 700;
  color: white;
}

.valueFonts{
  color: white;
}

.foundBtnn{
    height: 40px;
    width: 100px;
    background: #86A1B3;
    color: #FFF;
    font-weight: 700;
    border: 0px;
    border-radius: 0px 40px 40px 0px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 0px 15px;
    margin-right: -4px;
    width: 25%;
}

.green2{
  display: flex;
  align-items: center;
  justify-content:space-around;
}

.imgPng{
  height: 50px;
  width: 50px;
}

.korzina{
  border: none;
  background: none;
}

.popup{
  height: auto;
  width: auto;
  z-index: 100;
  border-radius: 15px;
  display: none;
  position: absolute;
  padding: 30px;
  margin: 10px;
  margin-left: -150px;
  border: 3px solid #86A1B3;
}

.BTNS{
  display: flex;
  justify-content:flex-end;
  padding: 5px;
  align-items: center;
}

.pusto{
  width: 30px;
}

.closeBTNK{
  height: 40px;
  width: 40px;
  background-color:#86A1B3;
  color:#B3E1FF;
  border: none;
  border-radius: 20px;
}

.clearBtn{
  height: 60px;
  width: 100px;
  background-color:#86A1B3;
  color:#B3E1FF;
  border: none;
  border-radius: 20px;
}

.buyBtn{
  height: 40px;
  width: 170px;
  background-color:#86A1B3;
  color:#B3E1FF;
  border: none;
  border-radius: 20px;
  margin: 20px 0;
}

.pustayK{
  display: flex;
  color: #FFCDCD;
  font-weight: 700;
}

.pustayK h1{
  font-size: 16px;
  padding-right: 20px;
}

.polnayK{
  display: none;
}

.tovarH2{
  color:#FFCDCD;
  font-weight: 700;
  font-size: 16px;
}

.closePK{
  display: none;
}

.active{
  background-color: #B37D7D;
  display: flex;
}

.active2{
  display: block;
}

.section1{
  height: 20%;
}

.row2{
  background-color: #FFCDCD;
  margin: 0;
  padding: 1% 0;
}

.menuText{
  display: flex;
  align-items: center;
  justify-content:space-around;
  text-align: center;
}

.h2Menu{
    font-size: 20px;
    color: #B37D7D;
    font-weight: 700;
    list-style-type: none;
    text-decoration: none;
}

a:hover {
  color: #86A1B3;
}

.sectionShop{

}

.backShop{
    background-image: url(../img/alchemy.gif);
}

.card{
  background-color: #B3E1FF;
  margin: 100px 0 0 0;
  border-radius: 10px 10px 0 0;

}

.imgShop{
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.imgProd{
  height: 90%;
  width: 90%;

}

.categories{
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #86A1B3;
}

.h5Text{
  text-align: center;
  padding: 15px;
  color: #86A1B3;
}

.downCard{
  background-color: #FFCDCD;
  border-radius: 0 0 10px 10px;
}

.form2{
  margin: 0% 10%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.select2{
  padding: 10px ;
  background: #86A1B3;
  height: 40px;
  margin-right: -4px;
  width: 25%;
  border: 0px;
  color: #B3E1FF;
  margin-left: -1px;
}



.inpForm2{
  width: calc(100% - 260px);
  margin-right: -4px;
  height: 40px;
  padding: 0px 15px;
  border: 0px;
  background-color: #B37D7D;
  width: 25%;
    border-radius: 40px 0px 0px 40px;
    color: #FFCDCD;
}

.foundBtnn1{
  height: 40px;
  width: 100px;
  background: #B37D7D;
  color: #FFCDCD;
  font-weight: 700;
  border: 0px;
  border-radius: 0px 40px 40px 0px;
  margin-right: -4px;
  width: 50%;
  padding: none;
  margin-top: 2%;
}

.lastShop{
  padding-bottom: 100px;
}

footer{
  background-color: #FFCDCD;
}

.footText{
  margin-top: 25px;
  text-decoration: none;
  color: #86A1B3;
  text-align: left;
}

.footText ul{
  margin-left: -40px;
}

.footText li{
  list-style-type: none;
  padding: none;
  margin: none;

}

.footText a{
  color: #B37D7D;
  padding: none;
  margin: none;
}

.firstCl{
  margin-left: 0%;
}

@media (max-width: 960px){
  .firstCl{
    margin-left: 4%;
  }
  header{
    height: 500%;
  }
}
